// for the smaller stuff
// these aren't necessarily reusable in this project
// - just easiest way to organize these

// ======= LOGO =========
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//======== SEARCH ==========
.search {
  // for width
  flex: 0 0 40%;

  // flex item becoming flex container
  // nested flexboxes
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    // input element doesn't inherit global fonts
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    // using pixels because it just needs to be a high num
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    // so button can sit on top of input
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // when input element is focused its width increases from 90% to 100%
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    // works only in chrome and safari (webkit)
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // adjacent selector because they're sibs
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      // so button moves down when clicked
      transform: translateY(2px);
    }
  }

  &__icon {
    //   formatting a svg icon by setting h and w
    height: 2rem;
    width: 2rem;
    // changing button color using fill;
    fill: var(--color-grey-dark-3);
  }
}

//======== USER NAVIGATION ==========
.user-nav {
  // overriding align items from header (above)
  align-self: stretch;
  // flex item is now a flex container
  display: flex;
  align-items: center;

  // user nav and all direct children
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    // third level of flex containers
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    // in relation to position relative above
    // flexbox isn't good practice for adjustin notifications
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    // flexbox also works with text
    // - centering number of notifications
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // formatted in above universal selector
  // &__user {
  // }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
