.container {
  // max width so container can decrease if not enough space to display 120rem
  // if viewport is less than 1200px, it occupies 100% of avl width.
  max-width: 120rem;
  //   center inside parent element (body)
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  //   for testing purposes
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

// content is the flex container
// - it's holding two elements we want side by side
.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // flexbox width is flex-basis
  // shorthand flex property
  // - grow, shrink, basis
  flex: 0 0 18%;
  // to push legal to the bottom
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  // test
  height: 80rem;
  // this allows element to grow as much as it can
  flex: 1;
}
