*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// not moving into typography bc this is more a sizing setting than typography
html {
  // this defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
